.link,
.navlink {
  color: var(--paragraph);
  font-size: 14px;
  font-weight: 600;
  transition: 0.15s;
  text-decoration: none;
  text-transform: capitalize;
}

.navlink:hover,
.link:hover,
.navlink--active {
  color: var(--headline);
}

.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  padding: 4px 12px;
  width: 64px;
  font-weight: 400;
}

.nav-icon p {
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
}

.nav-icon--active {
  background-color: rgb(239, 244, 245);
  font-weight: 500;
}
