.navlink {
  font-weight: 500;
  transition: 0.15s;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-paragraph);
}

.nav-icon--active,
.navlink--active,
.nav-icon:hover,
.navlink:hover {
  color: var(--primary-headline);
}

.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem;
  color: var(--primary-paragraph);
}

.nav-icon p {
  font-size: var(--font-size--1);
  line-height: 1.5;
  margin: 0.25rem 0 0 0;
}
