.link,
.navlink {
  color: #fff;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  caret-color: transparent;
  transition: 0.15s;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover,
.navlink:hover {
  color: #bfc500;
}

.link:active,
.navlink:active {
  color: #bfc500;
}
