.paragraph {
  text-align: justify;
  font-size: var(--font-size-1);
}

.paragraph__primary {
  color: var(--primary-paragraph);
}

.paragraph__secondary {
  color: var(--secondary-paragraph);
}

@media only screen and (min-width: 768px) {
  .paragraph {
    font-size: var(--font-size-2);
  }
}
