.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5865f2;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 576px) {
  .title::after {
    content: " ";
    flex-grow: 1;
    height: 2px;
    opacity: 0.6;
    margin-left: 12px;
    background-color: #5865f2;
  }
}
