.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-3);
}

.title__primary {
  color: var(--primary-headline);
}

.title__secondary {
  color: var(--secondary-headline);
}

@media only screen and (min-width: 768px) {
  .title {
    justify-content: flex-start;
    text-align: start;
    font-size: var(--font-size-4);
  }
}
