.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--headline);
  text-align: center;
  font-weight: 700;
}

@media (min-width: 576px) {
  .title::after {
    content: " ";
    flex-grow: 1;
    height: 2px;
    opacity: 0.5;
    margin-left: 12px;
    margin-top: 8px;
    background-color: var(--headline);
  }
}
