.purchase__title {
    text-align: center;
    color: var(--secondary-headline);
    font-family: "proxima_nova_semibold";
    margin-bottom: 1rem;
}

.purchase__body {
    text-align: justify;
    color: var(--secondary-body);
}

.purchase__grid {
    padding: 0.75rem;
}

.purchase__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    padding: 1.25rem;
    border-radius: 0.25rem;
    height: 100%;
}

.purchase__grid--bottom {
    padding-bottom: 0;
}

.purchase__checker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: var(--primary-button);
    border-radius: 0.25rem;
    font-family: "proxima_nova_semibold";
    color: var(--primary-headline);
    height: 3rem;

}

@media only screen and (min-width: 425px) {
    .purchase__card {
        padding: 1.25rem;
    }
  }

  @media only screen and (min-width: 768px) {
    .purchase__grid--bottom {
        padding-bottom: 0.75rem;
    }
  }