.purchase__button {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: var(--secondary-bg);
    border-radius: 0.25rem;
}

.purchase__title {
    margin-bottom: 0.75rem;
    text-align: center;
    font-weight: 550;
    color: var(--primary-bg);
}

.purchase__text {
    text-align: justify;
    margin-bottom: 1rem;
    color: #172c66;
}