.purchase__button {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: var(--secondary-bg);
    border-radius: 0.25rem;
}

.purchase__title {
    margin-bottom: 0.75rem;
    text-align: center;
    color: var(--secondary-headline);
    font-family: "proxima_nova_semibold";
}

.purchase__text {
    text-align: justify;
    margin-bottom: 1rem;
    color: var(--secondary-body);
}

.purchase__image {
    padding: 0 2.25rem;
    margin-bottom: 1rem;
}