.accordion-button {
  padding: 12px 0 !important;
  background-color: var(--primary-bg) !important;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("../../images/chevron-down.svg") !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item {
  color: var(--primary-paragraph);
  background-color: var(--primary-bg) !important;
  border: 0;
}

.accordion__header {
  font-family: "ProximaNova";
  font-size: var(--large);
  color: var(--primary-headline);
  margin: 0;
}

.accordion__body {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.accordion__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.accordion__li {
  padding-top: 8px;
  cursor: pointer;
}

.accordion__li--active {
  font-weight: 600;
}
