.card__primary {
  background-color: var(--primary-bg);
}

.card__secondary {
  background-color: var(--secondary-bg);
}

.home__card {
  padding: 2rem 1rem 2rem 1rem;
}

.card__body {
  max-width: 75rem;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .home__card {
    padding: 3rem 2rem 3rem 2rem;
  }
}
