.navibar {
    background-color: var(--primary-bg);
}

.navibar__nav {
    width: 100%;
   justify-content: space-between;
   padding: 0.25rem 0.75rem;
}

@media only screen and (min-width: 375px) {
    .navibar__nav {
        padding: 0.25rem 1.5rem;
    }
}

@media only screen and (min-width: 425px) {
    .navibar__nav {
        padding: 0.25rem 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .navibar {
        display: none;
    }
  }