.about__image {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0 5rem;
}

.about__middle {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

.about__bottom {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.about__title {
    font-family: "proxima_nova_semibold";
    font-size: 1.25rem;
    color: var(--secondary-headline);
    margin-top: 0.5rem;
    text-align: center;
}

@media only screen and (min-width: 375px) {
    .about__image {
        padding: 0 6.5rem;
    }
}

@media only screen and (min-width: 425px) {
    .about__image {
        padding: 0 7rem;
    }
}

@media only screen and (min-width: 768px) {
    .about__image {
        margin: 0;
       padding: 0 1rem 1rem 1rem;
    }

    .about__image--bottom {
        padding-bottom: 0;
    }

    .about__title {
        text-align: start;
    }
}

@media only screen and (min-width: 1024px) {
    .about__image {
        padding: 0 2rem 2rem 2rem;
    }
    .about__title {
        margin-top: 1rem;
    }

    .about__middle {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 1440px) {
    .about__image {
        padding: 0 5rem 1rem 3rem;
    }
}