.footer__header {
  font-weight: 700;
  font-size: var(--font-size-2);
  color: var(--primary-headline);
}

.footer__link {
  transition: color 200ms ease-in-out;
  text-decoration: none;
  font-size: var(--font-size-1);
  color: var(--primary-link);
}

.footer__link:hover {
  color: var(--primary-highlight);
}

.footer__copyright {
  font-size: var(--font-size-1);
  color: var(--primary-paragraph);
}
