.footer__title, .footer__find {
    color: var(--primary-headline);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer__body, .footer__copyright {
    color:var(--primary-body);
}

.footer__body, .footer__link {
    font-size: 0.875rem;
}

.footer__left, .footer__right {
    margin-bottom: 0.75rem;
}

.footer__ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__li {
    margin-bottom: 0.25rem;
}

.footer__link:hover, .footer__link:active {
    color:var(--primary-highlight);
}

.footer__copyright {
    font-size: 0.75rem;
    color:var(--primary-body);
}