.specs__row {
    justify-content: space-between;
}

.specs__outer {
    margin: 0;
    padding: 0;
}

.specs__inner {
    padding: 0;
    margin: 0 0.5rem;
    justify-content: center;
}

.specs__container {
    padding: 0.25rem;
    margin: 0;
}

.specs__image {
    border-radius: 0.25rem;    
}