:root {
  --headline: #fffffe;
  --paragraph: #b8c1ec;
  --background: #232946;
  --border: #fffffe;
  --xsmall: 12px;
  --small: 14px;
  --medium: 16px;
  --large: 18px;
}

body {
  margin: 0;
  font-family: "ProximaNova", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--paragraph);
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
