.navlink {
    font-weight: 500;
    transition: 0.15s;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-body);
}

.navlink--active,
.navlink:hover {
    color: var(--primary-headline);
}